# Stack's standard Travis config, taken from
# http://docs.haskellstack.org/en/stable/GUIDE.html#travis-with-caching



# Use new container infrastructure to enable caching
sudo: false



# Choose a lightweight base image; we provide our own build tools.
language: c



# GHC depends on GMP. You can add other dependencies here as well.
addons:
    apt:
        packages:
            - libgmp-dev



# The different configurations we want to test. You could also do things like
# change flags or use --stack-yaml to point to a different file.
env:
    - >
      STACK_ARGS="--resolver lts-1 --stack-yaml stack-older-snapshots.yaml"
      STACK_BUILD_ARGS=""
    - >
      STACK_ARGS="--resolver lts-2 --stack-yaml stack-older-snapshots.yaml"
      STACK_BUILD_ARGS=""
    - >
      STACK_ARGS="--resolver lts-3 --stack-yaml stack-older-snapshots.yaml"
      STACK_BUILD_ARGS=""
    - >
      STACK_ARGS="--resolver lts-4"
      STACK_BUILD_ARGS=""
    - >
      STACK_ARGS="--resolver lts-5"
      STACK_BUILD_ARGS=""
    - >
      STACK_ARGS="--resolver lts-6"
      STACK_BUILD_ARGS=""
    - >
      STACK_ARGS="--resolver lts-7"
      STACK_BUILD_ARGS="--ghc-options -Werror"
    - >
      STACK_ARGS="--resolver lts"
      STACK_BUILD_ARGS=""
    - >
      STACK_ARGS="--resolver nightly"
      STACK_BUILD_ARGS=""



matrix:
    fast_finish: true
    allow_failures:
        - env:
            - >
              STACK_ARGS="--resolver nightly"
              STACK_BUILD_ARGS="--ghc-options -Wcompat"



before_install:
    # Download and unpack the stack executable
    - mkdir -p ~/.local/bin
    - export PATH=$HOME/.local/bin:$PATH

    - mkdir -p ~/.local/bin
    - export PATH=$HOME/.local/bin:$PATH
    - >
      travis_retry curl -L https://www.stackage.org/stack/linux-x86_64
      | tar xz --wildcards --strip-components=1 -C ~/.local/bin '*/stack'

    - stack $STACK_ARGS --no-terminal setup
    - stack $STACK_ARGS --no-terminal install hlint hscolour



script:
    - >
      travis_wait stack $STACK_ARGS --no-terminal test
      $STACK_BUILD_ARGS
    - >
      travis_wait stack $STACK_ARGS --no-terminal haddock --no-haddock-deps
      $STACK_BUILD_ARGS
    - >
      travis_wait stack $STACK_ARGS --no-terminal bench --no-run-benchmarks
      $STACK_BUILD_ARGS
    - stack $STACK_ARGS --no-terminal sdist
    - hlint wl-pprint*



# Caching so the next build will be fast too.
cache:
    directories:
        - $HOME/.stack
